b {
  margin-top: 5px;
  display: block;
  font-weight: 900;
  font-family: 'inter';
}

label {
  margin-bottom: 15px;
  display: block;
  font-weight: 600;
  color: #071723;
  font-size: 18px;
}

.msg-successfully {
  color: #00C57C;
  font-weight: 600;
  font-size: 18px;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;

  @media only screen and (max-width: 565px) {
    font-size: 14px;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

textarea {
  all: unset;
  width: 100%;
  position: relative;
  background: #DDE3E9;
  border: 1px solid #2F3676;
  border-radius: 4px;
  padding: 16px;
  box-sizing: border-box;
  height: 141px;
  font-size: 14px;
}

app-input-checkbox,
app-input-number {
  margin-bottom: 32px;
  display: block;
}