@import "palette/palette";

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;

  label {
    font-size: 14px;
    margin-left: 9px;
    color: #071723;
  }

  input {
    all: unset;
    width: 24px;
    height: 24px;
    display: inline-block;
    background: palette-color('theme', 1);
    border-radius: 4px;
    transition: 0.2s all;

    &:checked {
      &:after {
        content: '\002714';
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 17px;
      }
    }

    &:hover {
      background: palette-color('actions', 'hover');
      cursor: pointer;
    }

    &.disabled {
      background: palette-color('actions', 'disabled');
    }

    &.invalid {
      background: palette-color('actions', 'invalid');
    }
  }

}