@import "palette/palette";

* {
  display: inline-block;
  font-weight: bold;
  border-radius: 4px;
}

button {
  background: palette-color('theme', 1);
  width: 42px;
  height: 42px;
  color: #FFFFFF;
  font-size: 34px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;

  &.disabled {
    background: palette-color('actions', 'disabled');
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2px;
    position: relative;
  }
}

.counter {
  top: 0;
  margin: 0 8px;
  color: #071723;
  vertical-align: top;

  input {
    font-size: 20.01px;
    padding: 0;
    background: #DDE3E9;
    transition: 0.2s all;
    border: 1px solid palette-color('theme', 1);
    width: 60px;
    height: 41px;
    text-align: center;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &.invalid {
      background: palette-color('actions', 'invalid');
    }
  }
}