@import "palette/palette";

* {
  display: inline-block;
  font-weight: bold;
  border-radius: 4px;
}

button {
  background: palette-color('theme', 1);
  width: 42px;
  height: 42px;
  color: #FFFFFF;
  font-size: 34px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;

  &.disabled {
    background: palette-color('actions', 'disabled');
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2px;
    position: relative;
  }
}

.counter {
  top: 0;
  width: 60px;
  height: 41px;
  margin: 0 8px;
  background: #DDE3E9;
  color: #071723;
  font-size: 20.01px;
  vertical-align: top;
  border: 1px solid palette-color('theme', 1);
  transition: 0.2s all;

  &.invalid{
    background: palette-color('actions', 'invalid');
  }

  div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: block;
  }
}